body {
	margin: 0px;
	padding: 0px;
}

#program {
	width: 100%;

}

.titleprogram {
	background: yellow;
	width: 100%;
	height: 100px;
	text-align: center;

}

.titleprogram h1 {
	color: black;
	line-height: 50px;
	font-size: 30px;
}

.subprogram img {
	margin: 20px 100px 20px 300px;
}

footer {
	background: #2e2e2e;
	color: white;
	overflow: hidden;
	padding-top: 20px;
	height: 100%;
}

.data {
	margin:auto;
	border-bottom: 2px solid grey;
	height: 200px;
	margin-right: 200px;
	margin-left: 200px;
}

.data p {
	color: white;
}

.img img {
	overflow: hidden;
	float: left;
}

.address {
	padding: 5px;
	width: 200px;
	height: 100px;
	float: left;
	margin-left: 100px;
	padding-right: 50px;
}

.contact {
	padding: 5px;
	width: 200px;
	height: 100px;
	float: left;
	padding-right: 100px;
}

.link {
	padding: 5px;
	width: 100px;
	height: 100px;
	float: left;
}

.copyright {

	float: left;
	position: absolute;
	margin-left: 200px;

}

.copyright p {
	color: white;
}


